.promo {
  margin: auto 0;
  padding: 150px 90px 110px;
  background: $white;

  @media (max-width: $desktop-max-width) {
    padding: 70px 90px 28px;
  }

  @media (max-width: $tablet-width) {
    padding: 70px 0 82px;
  }

  h2 {
    margin: 0;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.005em;
    color: $black-spacial;

    @media (max-width: $desktop-width) {
      font-size: 24px;
      line-height: 41px;
    }
  }
}

.promo__facts {
  width: 100%;
  max-width: 1205px;
  margin: 50px auto 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  counter-reset: list1;

  @media (max-width: $desktop-width) {
    margin-top: 30px;
  }
}

.promo__facts-item {
  width: 263px;
  margin: 0 auto;

  p {
    margin: 0;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.005px;
    color: $black;

    @media (max-width: $desktop-width) {
      letter-spacing: -0.5px;
    }

    @media (max-width: $mobile-width) {
      font-size: 18px;
    }
  }

  @media (max-width: $desktop-width) {
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 34px;
  }

  &::before {
    width: 100%;
    margin-bottom: 15px;
    display: block;
    text-align: center;
    counter-increment: list1;
    content: "0"counter(list1) "";
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -1.27273px;
    color: $turquoise;

    @media (max-width: $tablet-width) {
      margin-bottom: 15px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 9px;
    }
  }

  &:first-child {
    &::before {
      margin-bottom: 19px;
    }
  }

  &--delivery {
    margin-bottom: 40px;

    @media (max-width: $mobile-width) {
      margin-bottom: 45px;
      padding: 0;
    }
  }

  &--accessories {
    margin-bottom: 40px;

    @media (max-width: $mobile-width) {
      margin-bottom: 45px;
    }
  }

  &:last-child {
    margin-bottom: 40px;

    @media (max-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}
