$tablet-width: 768px;
$desktop-width: 1024px;

$font-open-sans: "OpenSans", "Arial", sans-serif;

$white: #ffffff;
$gray: #f6f6f6;
$black: #000000;
$black-ligth:  #1c1c1c;
$black-menu: #48494d;
$black-spacial:#1f1f1f;
$turquoise: #0ad9c6;
$gray-20: rgba(20, 21, 23, 0.2);

$border-garay-20: 1px solid $gray-20;
