$mobile-width: 320px;
$mobile-width-only: 450px;
$tablet-width: 767px;
$desktop-min-width: 900px;
$desktop-width: 1023px;
$desktop-max-width: 1439px;

$font-open-sans: "OpenSans", "Arial", sans-serif;

$white: #ffffff;
$white-20: rgba(#ffffff, 0.2);
$gray-ligth: #f6f6f6;
$gray-special: #f6f7f9;
$gray: #c9ccd4;
$black: #000000;
$black-ligth:  #1c1c1c;
$black-ligth-50:  rgba(#1c1c1c, 0.5);
$black-background-video: #131314;
$black-menu: #48494d;
$black-spacial:#1f1f1f;
$turquoise: #0ad9c6;
$gray-20: rgba(20, 21, 23, 0.2);

$border-white-20: 1px solid $white-20;
$border-garay-20: 1px solid $gray-20;
$border-gray: 1px solid $gray;
